<!-- app/views/rankings/index.html.erb -->

<div class="container mx-auto px-4 py-6">
  <h1 class="text-3xl font-bold mb-6">ランキング</h1>

  <div class="bg-white shadow-md rounded-lg p-6">
    <h2 class="text-2xl font-semibold mb-4">水族館</h2>
    <% if @top_aquariums.any? %>
      <ol>
        <% last_count = nil %>
        <% rank = 0 %>
        <% @top_aquariums.each_with_index do |aquarium, index| %>
          <% current_count = aquarium.reviews_count %>
          <% if last_count != current_count %>
            <% rank = index + 1 %>
          <% end %>
          <% last_count = current_count %>
          <li class="border-b py-2">
            <strong>
            <span class="text-blue-500"><%= rank %>.</span>
            <%= link_to aquarium.name, aquarium_path(aquarium), class: 'text-blue-500 hover:underline' %></strong>
            <p class="text-sm text-gray-600">レビュー数: <%= current_count %></p>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>まだランキングデータがありません。</p>
    <% end %>
  </div>

  <div class="bg-white shadow-md rounded-lg p-6 mt-6">
    <h2 class="text-2xl font-semibold mb-4">ユーザー</h2>
    <% if @top_users.any? %>
      <ol>
        <% last_count = nil %>
        <% rank = 0 %>
        <% @top_users.each_with_index do |user, index| %>
          <% current_count = user.reviews_count %>
          <% if last_count != current_count %>
            <% rank = index + 1 %>
          <% end %>
          <% last_count = current_count %>
          <li class="border-b py-2">
            <strong>
            <span class="text-blue-500"><%= rank %>.</span> 
            <span class="text-blue-500"><%= user.name %></span></strong>
            <p class="text-sm text-gray-600">レビュー数: <%= current_count %></p>
          </li>
        <% end %>
      </ol>
    <% else %>
      <p>まだランキングデータがありません。</p>
    <% end %>
  </div>
</div>
