<div class="flex items-center justify-center min-h-[50vh] bg-customBackground">
  <div class="rounded-box bg-customFormBackground p-8 shadow-lg w-full sm:w-2/3 md:w-1/2 lg:w-1/2 max-w-full m-4">
    <%= search_form_for @q, url: aquariums_path, method: :get do |f| %>
      <div class="form-control w-full mb-2">
        <div class="label">
          <%= f.label :name_or_location_or_description_cont, "キーワード検索", class: "label-text mb-2" %>
        </div>
        <%= f.search_field :name_or_location_or_description_cont, placeholder: "見たい生き物・所在地", class: "input input-bordered w-full mb-4" %>
      </div>

      <div class="form-control w-full mb-2">
        <div class="label">
          <%= f.label :region_eq, "地域", class: "label-text mb-2" %>
        </div>
        <%= f.select :region_eq, options_for_select(@regions), { include_blank: '選択してください' }, class: "select select-bordered w-full mb-4" %>
      </div>

      <div class="actions">
        <%= f.submit "検索", class: "btn btn-primary w-2/3 mb-2" %>
      </div>
    <% end %>
  </div>
</div>

<% if @search_keyword.present? || @selected_region.present? %>
  <div class="search-summary mb-4">
    <p>
      検索結果:
      <% if @search_keyword.present? %>
        キーワード "<%= @search_keyword %>"
      <% end %>
      <% if @selected_region.present? %>
          地域 "<%= @selected_region %>"
      <% end %>
    </p>
  </div>
<% end %>

<div class="flex flex-wrap justify-center">
  <% if @aquariums.any? %>
    <% @aquariums.each do |aquarium| %>
      <div class="card bg-base-100 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 shadow-xl m-4">
        <div class="card-body">
          <h2 class="card-title"><%= link_to aquarium.name, aquarium_path(aquarium) %></h2>
          <p><%= aquarium.description %></p>
          <div class="badge badge-outline"><%= aquarium.region %></div>
          <!-- タグを表示する部分 -->
          <% if aquarium.tag_list.any? %>
            <div class="mt-2">
              <h3 class="font-bold text-sm">タグ:</h3>
              <ul class="flex flex-wrap list-none p-0 mt-1">
                <% aquarium.tag_list.each do |tag| %>
                  <li class="mr-2 mb-2">
                    <%= link_to tag, tagged_path(tag), class: "badge badge-primary", title: "#{tag}に関連する水族館を表示" %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="card-actions justify-between">
          <% if user_signed_in? %>
              <% if current_user.liked_aquariums.include?(aquarium) %>
                <%= button_to aquarium_like_path(aquarium), method: :delete, class: "btn btn-outline text-red-500" do %>
                  <i class="fa-solid fa-heart"></i>
                <% end %>
              <% else %>
                <%= button_to aquarium_like_path(aquarium), method: :post, class: "btn btn-outline text-gray-500" do %>
                  <i class="fa-regular fa-heart"></i>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to '詳細を見る', aquarium_path(aquarium), class: "btn btn-primary" %>
          </div>

        </div>
      </div>
    <% end %>
  <% else %>
    <p>検索結果が見つかりませんでした。</p>
  <% end %>
</div>