<div class="flex items-center justify-center min-h-[50vh] bg-customBackground">
  <div class="rounded-box bg-customFormBackground p-8 shadow-lg w-1/2 max-w-1/2">
    <%= search_form_for @q, url: aquariums_path, method: :get do |f| %>
      <div class="form-control w-full mb-2">
        <div class="label">
          <%= f.label :name_or_location_or_description_cont, "キーワード検索", class: "label-text mb-2" %>
        </div>
        <%= f.search_field :name_or_location_or_description_cont, placeholder: "ここに入力 見たい生き物・所在地", class: "input input-bordered w-full mb-4" %>
      </div>

      <div class="form-control w-full mb-2">
        <div class="label">
          <%= f.label :region_eq, "地域", class: "label-text mb-2" %>
        </div>
        <%= f.select :region_eq, options_for_select(@regions), { include_blank: '選択してください' }, class: "select select-bordered w-full mb-4" %>
      </div>

      <div class="actions">
        <%= f.submit "検索", class: "btn btn-outline btn-primary w-2/3 mb-2" %>
      </div>
    <% end %>
  </div>
</div>

<% if @search_keyword.present? || @selected_region.present? %>
  <div class="search-summary mb-4">
    <p>
      検索結果:
      <% if @search_keyword.present? %>
        キーワード "<%= @search_keyword %>"
      <% end %>
      <% if @selected_region.present? %>
        , 地域 "<%= @selected_region %>"
      <% end %>
    </p>
  </div>
<% end %>

<% if @aquariums.any? %>
  <% @aquariums.each do |aquarium| %>
    <div class="card bg-base-100 w-96 shadow-xl m-4">
      <div class="card-body">
        <h2 class="card-title"><%= link_to aquarium.name, aquarium_path(aquarium) %></h2>
        <p><%= aquarium.description %></p>
        <div class="card-actions justify-end">
          <%= link_to '詳細を見る', aquarium_path(aquarium), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>
