<%= search_form_for @q, url: aquariums_path, method: :get do |f| %>
  <div class="field">
    <%= f.label :name_or_location_or_description_cont, "キーワード検索" %>
    <%= f.search_field :name_or_location_or_description_cont %>
  </div>

  <div class="field">
    <%= f.label :region_eq, "地域" %>
    <%= f.select :region_eq, options_for_select(@regions), { include_blank: '選択してください' } %>
  </div>

  <div class="actions">
    <%= f.submit "検索" %>
  </div>
<% end %>

<% if @aquariums.any? %>
  <% @aquariums.each do |aquarium| %>
    <div>
      <h2><%= link_to aquarium.name, aquarium_path(aquarium) %></h2>
      <p><%= aquarium.location %></p>
      <p><%= aquarium.description %></p>
    </div>
  <% end %>
<% else %>
  <p>検索結果が見つかりませんでした。</p>
<% end %>

<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<button class="bg-gray-900 hover:bg-gray-800 text-white rounded px-4 py-2">tailwind</button>

<button class="btn">daisyUI</button>

<button class="btn btn-secondary">btn btn-secondary</button>

