<h1><%= @aquarium.name %></h1>
<p><%= @aquarium.location %></p>
<p><%= @aquarium.description %></p>
<p>地域: <%= @aquarium.region %></p>
<p>公式サイト: <%= link_to @aquarium.website, @aquarium.website, target: '_blank' %></p>
