<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>
<body class="bg-customBackground flex items-center justify-center min-h-screen">
  <div class="container mx-auto p-4 bg-customFormBackground rounded-lg shadow-lg">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-3xl text-center"><%= @aquarium.name %></h1>

      <div id="loading-spinner" class="fixed inset-0 flex flex-col items-center justify-center bg-white z-50 hidden">
      <!-- カスタムイラスト -->
      <img src="<%= asset_path('Aqua-voyage.png') %>" alt="Loading illustration" class="mb-4" />
    
      <!-- スピナー -->
      <span class="loading loading-spinner text-info"></span>
    </div>
    

      <!-- お気に入りボタン -->
      <% if user_signed_in? %>
        <% if current_user.liked_aquariums.include?(@aquarium) %>
          <!-- お気に入り解除ボタン -->
          <%= button_to aquarium_like_path(@aquarium), method: :delete, class: "ml-4 text-red-500" do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <!-- お気に入り追加ボタン -->
          <%= button_to aquarium_like_path(@aquarium), method: :post, class: "ml-4 text-gray-500" do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% end %>
      <% end %>
      
      <div class="flex flex-col sm:flex-row items-center">
      <!-- Xシェアボタン -->
      <% share_text = "私のおすすめの水族館は「#{@aquarium.name}」。#AquaVoyage" %>
      <% share_url = "https://aqua-voyage.com/aquariums/#{@aquarium.id}" %> <!-- ここを実際のURLに置き換えてください -->
      <a href="https://twitter.com/intent/tweet?text=<%= ERB::Util.url_encode(share_text) %>&url=<%= ERB::Util.url_encode(share_url) %>" target="_blank" class="btn btn-primary ml-4">
        Xでシェアする
      </a>

      <% if user_signed_in? %>
        <% unless @user_has_reviewed %>
          <%= link_to 'レビューを追加', new_aquarium_review_path(@aquarium), class: "btn btn-secondary" %>
        <% else %>
          <p>レビュー済み</p>
        <% end %>
      <% else %>
        <p><%= link_to 'ログインしてレビューを投稿する', new_user_session_path, class: "btn btn-secondary" %></p>
      <% end %>
    </div>
    </div>
  
    <% if @photo_urls.any? %>
      <div class="flex flex-wrap justify-center">
        <% @photo_urls.each do |photo_url| %>
          <div class="m-2">
            <%= image_tag photo_url %>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-center">No photos available.</p>
    <% end %>

    <!-- タグを表示する -->
    <% if @aquarium.tag_list.any? %>
      <div class="mt-4">
        <h2 class="font-bold text-lg">タグ:</h2>
        <ul class="flex flex-wrap">
          <% @aquarium.tag_list.each do |tag| %>
            <li class="mr-2 mb-2">
              <%= link_to tag, tagged_path(tag), class: "btn btn-sm btn-outline-primary" %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  

    <div role="tablist" class="tabs tabs-lifted grid grid-cols-3 w-full mt-4">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="基本情報" checked="checked" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      <p class="mb-4 mt-8"><%= @aquarium.description %></p>
      <p class="mb-4">公式サイト: <%= link_to @aquarium.website, @aquarium.website, target: '_blank', class: 'link link-primary' %></p>
      <div id="map" style="height: 400px; width: 100%; margin-top: 10px;"></div>
      <p class="mb-4">住所: <%= @aquarium.location %></p>
      <p>地域: <%= @aquarium.region %></p>
    </div>


    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="行ったよ！" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">

    <div class="text-right mb-4">
      <% if user_signed_in? %>
        <% unless @user_has_reviewed %>
          <%= link_to 'レビューを追加', new_aquarium_review_path(@aquarium), class: "btn btn-secondary" %>
        <% else %>
          <p>レビューありがとうございます！</p>
        <% end %>
      <% else %>
        <p><%= link_to 'ログインしてレビューを投稿する', new_user_session_path, class: "btn btn-secondary" %></p>
      <% end %>
    </div>

    <h2 class="font-bold">みんなの声</h2>
    
    <div class="flex flex-wrap justify-around ">
      <div class="w-full md:w-1/3 p-2">
        <h3>大人向け？子供向け？</h3>
        <% target_audience_keys = @target_audience_data.keys.map { |id| TargetAudience.find(id).content } %>
        <%= pie_chart @target_audience_data.transform_keys { |id| TargetAudience.find(id).content }, colors: daisyui_colors_set1 %>
      </div>

      <div class="w-full md:w-1/3 p-2">
        <h3>水族館の大きさは？</h3>
        <% size_rating_keys = @size_rating_data.keys.map { |id| SizeRating.find(id).size } %>
        <%= pie_chart @size_rating_data.transform_keys { |id| SizeRating.find(id).size }, colors: daisyui_colors_set2 %>
      </div>
      
      <div class="w-full md:w-1/3 p-2">
        <h3>見どころはショー？展示？</h3>
        <% highlight_keys = @highlight_data.keys.map { |id| Highlight.find(id).highlight_kind } %>
        <%= pie_chart @highlight_data.transform_keys { |id| Highlight.find(id).highlight_kind }, colors: daisyui_colors_set3 %>
      </div>
    </div>

    <h2 class="font-bold mt-4">私の推しポイント</h2>
    <% @reviews.each_with_index do |review, index| %>
      <div class="chat <%= index.even? ? 'chat-start' : 'chat-end' %> mt-4">
        <div class="chat-bubble <%= ['chat-bubble-primary', 'chat-bubble-secondary', 'chat-bubble-accent', 'chat-bubble-info', 'chat-bubble-success', 'chat-bubble-warning', 'chat-bubble-error'].sample %> mt-4">
          <p><strong><%= review.user.name %>:</strong></p>
          <p><%= review.content %></p>
          <% if review.user == current_user %>
            <%= link_to '編集', edit_aquarium_review_path(@aquarium, review), class: 'link link-hover' %>
            <%= link_to '削除', aquarium_review_path(@aquarium, review),  data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか？' }, class: 'link link-danger' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- みんなの写真タブ -->
  <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="みんなの写真" />
  <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <h2 class="font-bold">みんなの写真</h2>
    <ul class="gallery">
      <% @reviews.each do |review| %>
        <% if review.image_url.present? %>
          <li><img src="<%= review.image_url %>" alt="Review Image"></li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


  <!-- 水族館一覧に戻るボタン -->
  <div class="text-center mt-8">
    <%= link_to '水族館一覧に戻る', aquariums_path, class: "btn btn-info" %>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap&v=weekly" async defer></script>
  <script>  
  document.addEventListener('turbo:before-visit', function() {
  const spinner = document.getElementById('loading-spinner');
  if (spinner) {
    spinner.classList.remove('hidden');
  }
});

document.addEventListener('turbo:load', function() {
  const spinner = document.getElementById('loading-spinner');
  if (spinner) {
    spinner.classList.add('hidden');
  }
});

    function initMap() {
      const spinner = document.getElementById('loading-spinner');
  if (spinner) {
    spinner.classList.remove('hidden'); // スピナーを表示
  }

      const address = "<%= @aquarium.location %>";

      const geocoder = new google.maps.Geocoder();

      geocoder.geocode({ 'address': address }, function(results, status) {
        if (status === 'OK') {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: results[0].geometry.location
            });

          new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }

        if (spinner) {
      spinner.classList.add('hidden'); // マップの読み込み完了後にスピナーを非表示
    }
      });
    }
  </script>
</body>
</html>


