<!DOCTYPE html>
<html>
<head>
  <title>AppName</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
</head>
<body>
  <h1><%= @aquarium.name %></h1>
  <p><%= @aquarium.location %></p>
  <div id="map" style="height: 400px; width: 100%; margin-top: 20px;"></div>
  <p>地域: <%= @aquarium.region %></p>
  <p>公式サイト: <%= link_to @aquarium.website, @aquarium.website, target: '_blank' %></p>

  <div role="tablist" class="tabs tabs-lifted">
    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="基本情報" checked="checked" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
      <h1><%= @aquarium.name %></h1>
      <p><%= @aquarium.location %></p>
      <p><%= @aquarium.description %></p>
      <p>地域: <%= @aquarium.region %></p>
      <p>公式サイト: <%= link_to @aquarium.website, @aquarium.website, target: "_blank" %></p>
    </div>

    <input type="radio" name="my_tabs_2" role="tab" class="tab" aria-label="推しポイント" />
    <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6">
    <% @reviews.each do |review| %>
      <p><strong><%= review.user.name %>:</strong></p>
      <p><%= review.content %></p>
      <p>対象年齢: <%= review.target_audience.content %></p>
      <p>サイズ評価: <%= review.size_rating.size %></p>
      <p>推しポイント: <%= review.highlight.highlight_kind %></p>
      <% if review.image_url.present? %>
        <p><img src="<%= review.image_url %>" alt="Review Image" style="max-width: 200px;"></p>
      <% end %>
      <% if review.user == current_user %>
        <%= link_to '編集', edit_aquarium_review_path(@aquarium, review) %>
      <% end %>
    <% end %>

      <% if user_signed_in? %>
        <%= link_to 'レビューを追加', new_aquarium_review_path(@aquarium) %>
      <% else %>
        <p><%= link_to 'ログインしてレビューを投稿する', new_user_session_path %></p>
      <% end %>
    </div>
  </div>

  <script>
    function initMap() {
      const address = "<%= @aquarium.location %>";

      const geocoder = new google.maps.Geocoder();

      geocoder.geocode({ 'address': address }, function(results, status) {
        if (status === 'OK') {
          const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: results[0].geometry.location
          });

          new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
          });
        } else {
          alert('Geocode was not successful for the following reason: ' + status);
        }
      });
    }
  </script>
</body>
</html>


