<body class="bg-customBackground flex items-center justify-center min-h-screen">
  <div class="container mx-auto p-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-2xl font-bold text-center mb-6"><%= @aquarium.name %>にレビューを投稿</h1>

    <%= form_with(model: [@aquarium, @review], local: true, html: { class: 'space-y-4' }) do |form| %>
      <% if @review.errors.any? %>
        <div role="alert" class="alert alert-error mb-4">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 shrink-0 stroke-current"
            fill="none"
            viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <div>
            <h2 class="font-bold"><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>
            <ul class="list-disc pl-5">
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>

      <div class="space-y-2 mt-4">
        <p class="font-bold">大人向け？子供向け？</p>
        <% @target_audiences.each do |audience| %>
          <label class="block">
            <%= form.radio_button :target_audience_id, audience.id, class: "radio radio-info mr-2" %>
            <%= audience.content %>
          </label>
        <% end %>
      </div>

      <div class="space-y-2 mt-4">
        <p class="font-bold">水族館の大きさは？</p>
        <% @size_ratings.each do |rating| %>
          <label class="block">
            <%= form.radio_button :size_rating_id, rating.id, class: "radio radio-info mr-2" %>
            <%= rating.size %>
          </label>
        <% end %>
      </div>

      <div class="space-y-2 mt-4">
        <p class="font-bold">見どころはショー？展示？</p>
        <% @highlights.each do |highlight| %>
          <label class="block">
            <%= form.radio_button :highlight_id, highlight.id, class: "radio radio-info mr-2" %>
            <%= highlight.highlight_kind %>
          </label>
        <% end %>
      </div>

      <!-- タグ入力フィールド -->
  <div class="space-y-2 mt-4">
    <%= form.label :tag_list, "タグ (カンマ区切りで入力)", class: "block text-sm font-bold text-gray-700" %>
    <%= text_field_tag 'aquarium[tag_list]', @aquarium.tag_list.join(', '), placeholder: "例: イルカショー, 子供向け", class: "input input-bordered input-lg input-info w-full" %>
  </div>


      <div class="space-y-2">
        <%= form.label :content, "私の推しポイント", class: "block text-sm font-bold text-gray-700" %>
        <%= form.text_area :content, placeholder: "この水族館の好きなところ、思い出などを自由に書いてね", class: "input input-bordered input-lg input-info w-full h-32 placeholder-small resize-none" %>
      </div>

      <div class="text-center">
        <%= form.submit "レビューを投稿", class: "btn btn-primary" %>
      </div>
    <% end %>

    <div class="text-center mt-4">
      <%= link_to '戻る', aquarium_path(@aquarium), class: "btn btn-secondary" %>
    </div>
  </div>
</body>
