<h1><%= @aquarium.name %>へのレビューを作成</h1>

<%= form_with(model: [@aquarium, @review], local: true) do |form| %>
  <div>
    <%= form.label :content, "レビュー内容" %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :target_audience_id, "対象年齢" %>
    <%= form.collection_select :target_audience_id, TargetAudience.all, :id, :content %>
  </div>
  <div>
    <%= form.label :size_rating_id, "サイズ評価" %>
    <%= form.collection_select :size_rating_id, SizeRating.all, :id, :size %>
  </div>
  <div>
    <%= form.label :highlight_id, "推しポイント" %>
    <%= form.collection_select :highlight_id, Highlight.all, :id, :highlight_kind %>
  </div>
  <div>
    <%= form.label :image_url, "画像URL" %>
    <%= form.text_field :image_url %>
  </div>
  <div>
    <%= form.submit "レビューを投稿" %>
  </div>
<% end %>

<%= link_to '戻る', aquarium_path(@aquarium) %>
