<!DOCTYPE html>
<html>
  <head>
    <title>AQUA VOYAGE ~水族館めぐり~</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
  </head>

  <body class="bg-customBackground">
    <%= render 'layouts/header' %> <!-- ヘッダーをレンダー -->
    <%= render 'layouts/flash' %> <!-- フラッシュメッセージの表示 -->
    <%= yield %> <!-- 各ページのコンテンツ -->
    <%= render 'layouts/footer' %> <!-- フッターをレンダー -->
  </body>
</html>
