<!DOCTYPE html>
<html>
  <head>
  <!-- Open Graph tags -->
    <meta property="og:title" content="AQUA VOYAGE〜水族館めぐり〜" />

    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://aqua-voyage.com/" />
    <meta property="og:image" content="<%= asset_url('ogp.jpg') %>" />
    <meta property="og:description" content="AQUA VOYAGEは水族館を検索・記録できるサービスです。" />
    <meta property="og:site_name" content="aqua-voyage" />



    <%# XのOGP表示 %>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@omaty410" />
    <meta name="twitter:domain" content="https://aqua-voyage.com/" />
    <meta name="twitter:title" content="AQUA VOYAGE〜水族館めぐり〜" />
    <meta name="twitter:description" content="AQUA VOYAGEは水族館を検索・記録できるサービスです。" />
    <meta name="twitter:image" content="<%= asset_url('ogp_x.jpg') %>" />
    
    <title>AQUA VOYAGE ~水族館めぐり~</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <% if Rails.env.production? %>
      <%= render 'layouts/google_analytics' %>
    <% end %>
    <%= favicon_link_tag('favicon.ico') %>

  <script src="https://kit.fontawesome.com/a35156df1a.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-customBackground">
    <%= render 'layouts/header' %> <!-- ヘッダーをレンダー -->
    <%= render 'layouts/flash' %> <!-- フラッシュメッセージの表示 -->
    <%= yield %> <!-- 各ページのコンテンツ -->
    <%= render 'layouts/footer' %> <!-- フッターをレンダー -->
  </body>
</html>
